:root {
  --parakeet: #03c04a;
  --slate: #242527;
  --darkslateeven: #2a2a35;
  --darkslategray: #272731;

}

main {
  background: #84889c;
}

table {
  width: 60%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 15px rgba(64, 64, 64, 0.7);
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 25px;
}
td,
th {
  padding: 15px 20px;
  text-align: center;
}
th {
  background-color: var(--parakeet);
  color: #fafafa;
  font-weight: 200;
  text-transform: uppercase;
}
tr {
  width: 100%;
  background-color: black;
  color: #fafafa;
}
tr:nth-child(even) {
  background-color: var(--darkslategray);
}
