{% extends "baseauth.html"%}
{% block start %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card rounded p-4" style="max-width: 400px;">
        <form method="post" class="form" id="form">
            {% csrf_token %}
            <h4 class="title mb-3">Cambiar contraseña</h4>
            {% if messages %}
                <div class="alert alert-info">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="new_password">Nueva Contraseña</label>
                <input type="password" name="new_password" required class="form-control">
            </div>

            <div class="form-group mb-2">
                <label for="reconfirm_password">Confirmar Nueva Contraseña</label>
                <input type="password" name="reconfirm_password" required class="form-control">
            </div>

            <input type="hidden" name="user_id" value="{{user_id}}">

            <div class="text-center">
                <button class="btn btn-purple" type="submit">Enviar</button>
            </div>
        </form>
        <h4 class="mt-4 title">Requisitos de Contraseña:</h4>
        <ul>
            <li>Más de 8 caracteres</li>
            <li>Al menos una letra mayúscula</li>
            <li>Al menos un número</li>
            <li>Al menos un carácter especial (por ejemplo, !@#%)</li>
            <li>No debe parecerse al nombre de usuario</li>
        </ul>
    </div>
</div>

{% endblock %}