{% extends "baseauth.html"%}
{% block start %}
<div class="continer">
  <a href="{% url 'home' %}">Regresar</a>
    <form class="form" method="post" id="form">
        {% csrf_token %}
        <h4>Recuperación de Contraseña</h4>

        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

     
        <div class="form-group">
            <label for="password">Nombre de Usuario</label>
            <input type="text" name="username" required class="form-control">
           
        </div>

        
       
        <button class="btn" type="submit">Enviar</button>

    </form>
</div>

{% endblock %}