{% extends "baseauth.html"%}
{% block start %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card p-4" style="max-width: 400px; border-radius: 20px;"> <!-- Agregamos el estilo para las esquinas curvas -->
        <a href="{% url 'home' %}" class="btn btn-secondary mb-3">Regresar</a>
        <form class="form" method="post" id="form">
            {% csrf_token %}
            <h4 class="title mb-3">Recuperación de Contraseña</h4>
            
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}

            <div class="form-group mb-3">
                <label for="username">Nombre de Usuario</label>
                <input type="text" name="username" required class="form-control">
            </div>

            <div class="text-center">
                <button class="btn-purple" type="submit">Enviar</button> <!-- Cambiamos la clase del botón a "btn-purple" para hacerlo morado -->
            </div>
        </form>
    </div>
</div>
{% endblock %}