{% extends "base.html" %}
{% block title %} - Registrar Servicio {% endblock %}
{% block content %}
<br/><br/>
<div class="row">
  <div class="col-md-4 offset-md-4">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-dismissible {% if message.tags == 'error' %} alert-warning {% else %} alert-success {% endif %}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong class="text-dark">{{ message }}</strong>
      </div>
      {% endfor %}
    {% endif %}
      <div class="registration_form">
          <div class="card-body">
            <div class="title">Registrar Servicio </div><br>

              <form action="registrarServicio" method="POST">{% csrf_token %}
                <input type="hidden" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="SKU">

                <div class="form-group">
                    <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre"
                        maxlength="200" required>
                </div>
                <div class="form-group">
                  <input type="text" id="txtApellido" name="txtApellido" class="form-control" placeholder="Apellido"
                      maxlength="200" required>
                </div>
                <div class="form-group">
                  <input type="text" id="txtServicio" name="txtServicio" class="form-control" placeholder="Servicio"
                      maxlength="150" required>
                </div>
                <div class="form-group">
                  <input type="tel" id="txtTelefono" name="txtTelefono" class="form-control" placeholder="Teléfono"
                       required>
                </div>
                <div class="form-group">
                  <input type="text" id="txtPlacas" name="txtPlacas" required pattern="[A-Z]{3}\d{3,4}"  class="form-control" placeholder="Placas"
                      maxlength="7" required>
                </div>
                <div class="form-group">
                    <input type="text" id="numTotal" pattern="^\d*(\.\d{0,2})?$" name="numTotal" class="form-control" placeholder="Total" min="1" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}
