{% extends 'base.html' %}
{% block title %} - Inventario {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible {% if message.tags == 'error' %} alert-warning {% else %} alert-success {% endif %}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Gestión de Inventario</h2>
        <div class="card bg-dark">
            <div class="card-body">
                <form action="registrarArticulo" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="SKU"
                           maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre"
                            maxlength="200" required>
                    </div>
                    <div class="form-group">
                      <input type="text" id="txtCategoria" name="txtCategoria" class="form-control" placeholder="Categoría"
                          maxlength="150" required>
                    </div>
                    <div class="form-group">
                      <input type="date" id="txtExpiracion" name="txtExpiracion" class="form-control" placeholder="Expiración"
                          maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="numInventario" name="numInventario" class="form-control" placeholder="Cantidad" min="1" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Productos</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">SKU</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center"> Categoría</th>
                        <th class="text-center">Fecha de Expiración</th>
                        <th class="text-center">Expirado</th>
                        <th class="text-center">Cantidad</th>
                        <th colspan="2" class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in inventario %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.sku}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.category}}</td>
                        <td>{{i.expiration_date}}</td>
                        <td>{{i.expirated}}</td>
                        <td>{{i.quantity}}</td>
                        <td><a href="edicionInventario/{{i.sku}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarInventario/{{i.sku}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}