{% extends 'base.html' %}
{% block content %}
      <div class="wrapper">
        <div class="registration_form">
          <div class="title">Actualizar Inventario</div>

          <form>
            <div class="form_wrap">
              <div class="input_wrap">
                <label for="codigo">Codigo</label>
                <input type="text" id="codigo" />
              </div>
              <div class="input_wrap">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" />
              </div>
              <div class="input_wrap">
                <label for="cantidad">Cantidad</label>
                <input type="text" id="cantidad" />
              </div>
              <div class="input_wrap">
                <input type="submit" value="Registrar" class="submit_btn" />
              </div>
            </div>
          </form>
        </div>
      </div>

      <table>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Telefono</th>
          <th>Servicio</th>
          <th>Placas</th>
          <th>Total</th>
        </tr>

        <tr>
          <td>1</td>
          <td>Nombre</td>
          <td>Apellido</td>
          <td>Telefono</td>
          <td>Servicio</td>
          <td>Placas</td>
          <td>Total</td>
        </tr>

        <tr>
          <td>2</td>
          <td>Nombre</td>
          <td>Apellido</td>
          <td>Telefono</td>
          <td>Servicio</td>
          <td>Placas</td>
          <td>Total</td>
        </tr>

        <tr>
          <td>3</td>
          <td>Nombre</td>
          <td>Apellido</td>
          <td>Telefono</td>
          <td>Servicio</td>
          <td>Placas</td>
          <td>Total</td>
        </tr>

        <tr>
          <td>4</td>
          <td>Nombre</td>
          <td>Apellido</td>
          <td>Telefono</td>
          <td>Servicio</td>
          <td>Placas</td>
          <td>Total</td>
        </tr>

        <tr>
          <td>5</td>
          <td>Nombre</td>
          <td>Apellido</td>
          <td>Telefono</td>
          <td>Servicio</td>
          <td>Placas</td>
          <td>Total</td>
        </tr>

        <tr>
          <td>6</td>
          <td>Nombre</td>
          <td>Apellido</td>
          <td>Telefono</td>
          <td>Servicio</td>
          <td>Placas</td>
          <td>Total</td>
        </tr>

        <tr>
          <td>7</td>
          <td>Nombre</td>
          <td>Apellido</td>
          <td>Telefono</td>
          <td>Servicio</td>
          <td>Placas</td>
          <td>Total</td>
        </tr>

        <tr>
          <td>8</td>
          <td>Nombre</td>
          <td>Apellido</td>
          <td>Telefono</td>
          <td>Servicio</td>
          <td>Placas</td>
          <td>Total</td>
        </tr>

        <tr>
          <td>9</td>
          <td>Nombre</td>
          <td>Apellido</td>
          <td>Telefono</td>
          <td>Servicio</td>
          <td>Placas</td>
          <td>Total</td>
        </tr>

        <tr>
          <td>10</td>
          <td>Nombre</td>
          <td>Apellido</td>
          <td>Telefono</td>
          <td>Servicio</td>
          <td>Placas</td>
          <td>Total</td>
        </tr>
      </table>
{% endblock content %}