{% extends "base.html" %}
{% block title %} - Registrar Servicio {% endblock %}
{% block content %}
<br/><br/>

<div class="row">
  <div class="col-md-4 offset-md-4">
    
      <div class="registration_form">
        <div id="messageArea"></div>
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-dismissible {% if message.tags == 'error' %} alert-warning {% else %} alert-success {% endif %}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong class="text-dark">{{ message }}</strong>
      </div>
      {% endfor %}
    {% endif %}
          <div class="card-body">
            <div class="title">Editar Servicio </div><br>

              <form action="/org/serviciosEdicion" method="POST">{% csrf_token %}
                <input type="hidden" value="{{servicio.id}}" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="SKU">

                <div class="form-group">
                    <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Servicio"
                        maxlength="200" required  value="{{servicio.name}}">
                </div>
                <div class="form-group">
                  <input type="text" id="txtPrice" name="txtPrice" class="form-control" placeholder="Precio"
                      maxlength="200" required  value="{{servicio.price}}">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock %}
