{% extends 'base.html' %}
{% block title %} - Inventario {% endblock %}

{% block content %}
<style>
  label {
    color: white;
  }
</style>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible {% if message.tags == 'error' %} alert-warning {% else %} alert-success {% endif %}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <div class="wrapper">
            <div class="registration_form">
              <div class="title">Gestión de Inventario</div>
                <form class="form-group mt-5" action="buscarVenta" method="GET">
                  <div class="mt-4">
                    <div class="form-group">
                      <label for="txtdate1">Desde</label>
                        <input type="date" id="txtdate1" name="txtdate1" class="form-control" placeholder="Desde"
                           maxlength="50">
                    </div>
                    <div class="form-group">
                      <label for="txtdate1">Hasta</label>
                        <input type="date" id="txtdate2" name="txtdate2" class="form-control" placeholder="Hasta"
                            maxlength="200">
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="txt" id="txtServicio" name="txtServicio" class="form-control" placeholder="Servicio"
                        maxlength="50">
                  </div>
                    <div class="form-group">
                      <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" placeholder="Telefono"
                          maxlength="150">
                    </div>
                    <div class="form-group">
                      <input type="txt" id="txtPlacas" name="txtPlacas" class="form-control" placeholder="Placas"
                          maxlength="50">
                    </div>
                    <div class="form-group">
                        <button type="submit" name="accion" value="buscar" class="btn btn-success btn-block text-white">Buscar</button>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="accion" value="descargar" class="btn btn-success btn-block text-white">PDF</button>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="accion" value="enviar" class="btn btn-success btn-block text-white">Enviar PDF</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Ventas</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Placas</th>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Servicio</th>
                        <th>Total</th>
                        <th>Fecha</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in ventas %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.plate_code}}</td>
                        <td>{{i.first_name}} {{i.last_name}}</td>
                        <td>{{i.phone}}</td>
                        <td>{{i.type_service}}</td>
                        <td>{{i.price}}</td>
                        <td>{{i.service_date}}</td>
                        <td><a href="edicionVenta/{{i.id}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarVenta/{{i.id}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination justify-content-center"> <!-- Clase de Bootstrap para centrar el paginador -->
          <ul class="pagination">
              {% if page.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?page=1" aria-label="Primero">
                          <span aria-hidden="true">&laquo;&laquo;</span>
                      </a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Anterior">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
              {% endif %}
              
              <li class="page-item">
                  <span class="page-link">Página {{ page.number }} de {{ page.paginator.num_pages }}.</span>
              </li>
              
              {% if page.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Siguiente">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page.paginator.num_pages }}" aria-label="Último">
                          <span aria-hidden="true">&raquo;&raquo;</span>
                      </a>
                  </li>
              {% endif %}
          </ul>
      </div>
      
    </div>
</div>
{% endblock %}